/* .tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
  padding-left: 0;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.offline-doc .page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #ffffff;
  position: relative; }
  .offline-doc .page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .offline-doc .page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px; }
  .offline-doc .page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .offline-doc .page-header .container {
    height: 100%;
    z-index: 1; }
  .offline-doc .page-header .category,
  .offline-doc .page-header .description {
    color: rgba(255, 255, 255, 0.8); }
  .offline-doc .page-header.page-header-small {
    min-height: 60vh;
    max-height: 440px; }
  .offline-doc .page-header.page-header-mini {
    min-height: 40vh;
    max-height: 340px; }
  .offline-doc .page-header .title {
    margin-bottom: 15px; }
  .offline-doc .page-header .title + h4 {
    margin-top: 10px; }
  .offline-doc .page-header:after, .offline-doc .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: ""; }
  .offline-doc .page-header:before {
    background-color: rgba(0, 0, 0, 0.8); } */


/* CUSTOM STYLES PLS WORK */
.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.custom-alert {
  margin-bottom: 0px !important;
  text-align: center;
  width: 100%;
  border-radius: 0px !important;
}

.wl-btn{
  /* background: #FF7957 !important; */
  /* border: 1px solid #FF7957 !important; */
  /* height: 3rem; */
  /* margin-top: 2%; */
  min-width: 10%;
  background: #f88379 !important;
  background-color: #f88379 !important;
  border-radius: 5px !important;
  border: 0;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
  cursor: pointer;
  /* font-family: 'Roboto', sans-serif; */
}

.wl-btn:hover{
  background: #E2786E !important;
  background-color: #E2786E !important;
}

.wl-btn:focus{
  background: #E2786E !important;
  background-color: #E2786E !important;
}

.wl-input {
  /* min-width: 100% !important; */
  min-width: 17vw;;
  background: rgba(255,255,255,0.5) !important;
  border: none !important;
  color: #000000 !important;
  border-radius: 5px !important;
  /* font-family: 'Roboto', sans-serif; */
}

.wl-input:focus {
  border: 1px solid white;
  background: white !important;
}



.main-copy {
  font-family: 'Brandon Grotesque', sans-serif;
  /* margin-bottom: 0px; */
}

.sub-copy{
  font-family: 'Lato', sans-serif;
}

.landing-jumbo {
  background:linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%)
}

.color-black h1, h2, p{
  color: black !important;
}

/* .clipped {
  clip-path: polygon(100% 0%, 100% 70%, 50% 90%, 50% 90%, 0 70%, 0 0);
} */

/* p .color-black {
  color: black !important;
} */