/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.vertical-center {
  min-height: 88%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 88vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.custom-alert {
  margin-bottom: 0px !important;
  text-align: center;
  width: 100%;
  border-radius: 0px !important;
}

.wl-btn{
  /* background: #FF7957 !important; */
  /* border: 1px solid #FF7957 !important; */
  /* height: 3rem; */
  /* margin-top: 2%; */
  min-width: 10%;
  /* font-family: 'Roboto', sans-serif; */
}

.wl-input {
  /* min-width: 100% !important; */
  min-width: 17vw;;
  /* background: white !important; */
  /* border: 1px solid white; */
  /* color: #A2A3A4; */
  /* font-family: 'Roboto', sans-serif; */
}
